<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.address_list">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 读写通话记录 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 低版本使用该权限 -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 为了兼容低版本 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/head"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchActivity" />
        <activity
            android:name=".activity.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".message_bottom_nav.Message_Bottom_NavActivity"
            android:label="@string/title_activity_message__bottom__nav"></activity>
    </application>

</manifest>